/* ==========================================================================
// reset and base styles
// ======================================================================= */

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base styles */
// /* Font
//    ----------------------------------------------------------------- */
/* Import */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese');
/*
Noto Sans JP
// thin 100
// light 300
// regular 400
// medium 500
// bold 700
// black 900
*/

@font-face { //https://mw-s.jp/2017css-font-win-mac/
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;/* box centering */
  word-wrap: break-word;
  color: #000;
  font-family: -apple-system,BlinkMacSystemFont,'Noto Sans JP',"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
}

/* ==========================================================================
// unique styles
// ======================================================================= */
.accordion-trigger { /* label */
  text-align: left;
  cursor: pointer;
  display: block;
  padding: 15px;
  padding-right: 42px; /* padding + icon width */
  border-bottom: 1px solid #ccc;
  background-color: lightblue;
  position: relative;
}

/* icon */
.accordion-trigger::before,
.accordion-trigger::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  height: 2px;
  width: 12px;
  background-color: #000;
  transition: all .1s ease-out;
}

.accordion-trigger::after {
  transform: rotate(90deg);
}

.accordion-trigger.is-opened::after {
  opacity: 0;
  transform: rotate(0);
}
/* /icon */


.accordion-target { /* target */
  box-sizing: border-box;
  overflow: hidden;
  height: 0;
  transition: height .4s ease-out;
  text-align: left;
}

.accordion-target.list > .list__item { /* target-child */
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  opacity: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}

.accordion-target.list > .list__item > a {
  display: block;
  margin-top: -15px;
  margin-bottom: -15px;
  padding: 15px;
  color: #000;
  text-decoration: none;
}


